label {
    display: block;
}

textarea {
    height: 60px;
    width: 400px;
    font-size: large;
}

.field {
    width: 400px;  
}

hr {
    width: 100%;
}

.compare_container {width: 700px; margin: 0 auto;}
.question {width: 475px;}
.qBlock{color:black; text-decoration: none;}
.qBlock:hover{color:black; text-decoration: none;}
.mc_selection {background:url('../../images/mc-disc.png') no-repeat 10px center #eceef0; border:1px solid #c9d7e2; border-radius:5px; margin-bottom:10px; padding:10px 10px 10px 50px; text-align:left; width:435px;}
li{list-style-type: none;}